.loading-spinner-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.login-column {
    display: flex;
    vertical-align: middle;
    background: rgb(2, 0, 36);
    float: left;
    width: 50%;
    height: 100vh;
    background-image: url(./assets/images/login_background_02.jpg);
    background-size: cover;
}
.login-column:nth-child(2) {
    background-image: url(./assets/images/login_image_01.jpg);
    background-size: cover;
}
.login-container {
    margin: auto;
    width: 50%;
    border-radius: 1em;
}
.login-form {
    padding: 1em;
}
.new-project {
    padding: 2em;
}
.new-project-form {
    width: 40%;
}
.new-employee {
    padding: 2em;
}
.new-employee-form {
    width: 40%;
}

/* Skills list delete button */
.dynamic-delete-button {
    position: relative;
    top: 4px;
    margin: 0 8px;
    color: #999;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
}
.dynamic-delete-button:hover {
    color: #777;
}
.dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}
/* Dashboard */
.dashboard-content {
    display: grid;
    margin: 2em;
    gap: 1.2em;
    grid-template-columns: 1fr 1fr 1fr;
}
.dashboard-search {
    width: 40%;
    margin: 2em 2em 0em 2em;
}
.empty-dashboard {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-card-link {
    display: grid;
    max-width: 30vw;
}
.project-card {
    border-radius: 1em;
    max-width: inherit;
}
.project-card-header {
    padding: 2em 2em 0em 2em;
}
.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Project view */
.project-view {
    padding: 2em;
}
.project-view-title {
    display: inline-block;
}
.action-buttons-container {
    display: inline-block;
    margin-left: 2em;
}
.action-button {
    margin-right: 1em;
}
.team-members-table-cell {
    padding: 0.5em 2em 0.5em 0em;
}
.project-view-tasks {
    width: 40%;
    min-width: 30em;
}

/* Task item */
.status-icon {
    font-size: x-large;
    float: right;
}
.task-details-table {
    margin: auto;
    width: 100%;
}
.task-details-cell {
    padding: 0.5em 1em;
}
.task-buttons-cell {
    padding: 1em 1em 0.5em 1em;
}
.delete-task {
    float: right;
}

/* Employees list */
.employees {
    padding: 2em;
}
.employees-search {
    width: 40%;
    margin-bottom: 2em;
}

/* Employee view */
.employee-view {
    padding: 2em;
}
.employee-view-title {
    display: inline-block;
}
.employee-view-columns-container {
    display: flex;
    flex-direction: row;
}
.employee-view-column {
    flex: 1;
}

/* Project history */
.project-history {
    padding: 2em;
}
.project-history-search {
    width: 40%;
    margin-bottom: 2em;
}

/* Profile */
.profile {
    padding: 2em;
}
.grid-container {
    display: grid;
    grid-template-rows: auto auto auto;
}
.grid-row {
    display: flex;
    flex-direction: row;
}
.grid-item {
    width: 20%;
}
