.login-form {
    padding: 2em;
    width: 40%;
}
.new-project-form {
    padding: 2em;
    width: 40%;
}
.new-employee-form {
    padding: 2em;
    width: 40%;
}

/* Skills list delete button */
.dynamic-delete-button {
    position: relative;
    top: 4px;
    margin: 0 8px;
    color: #999;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
}
.dynamic-delete-button:hover {
    color: #777;
}
.dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.dashboard-content {
    display: grid;
    margin: 2em;
    gap: 1.2em;
    grid-template-columns: auto auto auto;
}
.card {
    border-radius: 1em;
}
.card-title {
    padding: 24px 24px 0px 24px;
}
.project-view {
    padding: 2em;
}
.team-members-table-cell {
    padding: 0.5em 1em;
}
.project-view-tasks {
    width: 40%;
}
.status-icon {
    font-size: x-large;
    float: right;
}
