.loading-spinner-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.login-column {
    display: flex;
    vertical-align: middle;
    background: rgb(2, 0, 36);
    float: left;
    width: 50%;
    height: 100vh;
    background-image: url(./assets/images/login_background_02.jpg);
    background-size: cover;
}
.login-column:nth-child(2) {
    background-image: url(./assets/images/login_image_01.jpg);
    background-size: cover;
}
.login-container {
    margin: auto;
    width: 50%;
    border-radius: 1em;
}
.login-form {
    padding: 1em;
}
.new-project-form {
    padding: 2em;
    width: 40%;
}
.new-employee-form {
    padding: 2em;
    width: 40%;
}

/* Skills list delete button */
.dynamic-delete-button {
    position: relative;
    top: 4px;
    margin: 0 8px;
    color: #999;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
}
.dynamic-delete-button:hover {
    color: #777;
}
.dynamic-delete-button[disabled] {
    cursor: not-allowed;
    opacity: 0.5;
}

.dashboard-content {
    display: grid;
    margin: 2em;
    gap: 1.2em;
    grid-template-columns: auto auto auto;
}
.project-card-link {
    display: grid;
}
.project-card {
    border-radius: 1em;
}
.card-title {
    padding: 24px 24px 0px 24px;
}

/* Project view */
.project-view {
    padding: 2em;
}
.delete-project {
    margin-left: 2em;
}
.team-members-table-cell {
    padding: 0.5em 1em;
}
.project-view-tasks {
    width: 40%;
    min-width: 30em;
}

/* Task item */
.status-icon {
    font-size: x-large;
    float: right;
}
.task-details-table {
    margin: auto;
    width: 100%;
}
.task-details-cell {
    padding: 0.5em 1em;
}
.task-buttons-cell {
    padding: 1em 1em 0.5em 1em;
}
.delete-task {
    float: right;
}

/* Employees list */
.employees-table {
    padding: 2em;
}

/* Employee view */
.employee-view {
    padding: 2em;
}
.employee-view-columns-container {
    display: flex;
    flex-direction: row;
}
.employee-view-column {
    flex: 1;
}
.delete-employee {
    margin-left: 2em;
}
